{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading"> manage your posts and change them</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
        <h1>Basic Action</h1>
        
         <a href="/edit/0"> <button class="btn btn-primary">Add a new post</button></a>
         <a href="/logout"> <button class="btn btn-primary">logout</button></a>
         <hr>


        <h1>Add/Edit Posts</h1>

       <form name="sentMessage" id="contactForm" novalidate action="/edit/{{sno}}" method="post">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Point Name</label>
              <input type="text" class="form-control" placeholder="Point-Name" id="point" name='point' required data-validation-required-message="Please enter your name." value="{{post.languagsubpoint}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="slug" id="slug" name='slug' required data-validation-required-message="Please enter your name." value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>

            <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Content" id="content " name='content' required data-validation-required-message="Please enter a message." >{{post.subdescription}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Program</label>
              <textarea rows="5" class="form-control" placeholder="program" id="program " name='program' required data-validation-required-message="Please enter a message." >{{post. program}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Example</label>
              <input type="text" class="form-control" placeholder="example" id="example" name='example' required data-validation-required-message="Please enter your phone number." value="{{post.example}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Writer</label>
              <input type="text" class="form-control" placeholder="writer" id="writer" name='writer' required data-validation-required-message="Please enter your email address." value="{{post.whoissinsertthisdata}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image File</label>
              <input  class="form-control" placeholder="Image-File" id="imgfile " name='imgfile' value="{{post.imgfile}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          
          
            
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        </form>
        

        
      
        </div>
      </div>
    </div>
  </div>
{% endblock %}
