{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  {% set fname='img/java.jpg' %}
    <header class="masthead" style="background-image: url('{{url_for('static',filename=fname)}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{posts.languagsubpoint}}</h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{posts.subdescription[0:300]}}</p>

          <p>{{posts.subdescription[300:600]}}</p>
          <p>{{posts.subdescription[600:900]}}</p>

          <p>{{posts.subdescription[900:1200]}}</p>


          <p>{{posts.subdescription[1200:1500]}}</p>

          <h4>Program</h4>
          {% for x in x %}
          {{x}}

          {% endfor%}
          

          <h4>Example</h4>

          {{posts.example}}
         


    
        </div>
      </div>
    </div>
  </article>
        </div>
  </div>

{% endblock %}
 